body
{
    background-color: #1b1b1b;
    padding-top: 40px;
}
.form-signin {
    max-width: 280px;
    padding: 15px;
    margin:100px;
    margin-top:70px;
}


.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://i.imgur.com/h26izWg.jpg');
    background-repeat:repeat;
}

p{
    color: #fff;
}