.navbar-default{
    background-color: #1b7a97;
    border-color: #1b7a97;
}
.mainbody {
    background: #ffffff;
}
body{
    background: #ffffff;
}
.panel-default{
    border-radius: 10px;
}
.buzzcolor{
    background-color: #45b29d;
}
.fileupload{
    display: none;
}